@font-face {
	font-family: 'delicons';
	src:url('delicons.eot?r71s1x');
	src:url('delicons.eot?#iefixr71s1x') format('embedded-opentype'),
		url('delicons.woff?r71s1x') format('woff'),
		url('delicons.ttf?r71s1x') format('truetype'),
		url('delicons.svg?r71s1x#delicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[delicons]:before {
  font-family: 'delicons';
  content: attr(delicons);
  speak: none;
}

[class^="icond-"], [class*=" icond-"] {
	font-family: 'delicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icond-umbrella:before {
	content: "\e000";
}
.icond-pacman:before {
	content: "\e001";
}
.icond-organization:before {
	content: "\e002";
}
.icond-loading:before {
	content: "\e003";
}
.icond-infinity:before {
	content: "\e004";
}
.icond-folder:before {
	content: "\e005";
}
.icond-crown:before {
	content: "\e006";
}
.icond-bottle:before {
	content: "\e007";
}
.icond-boat:before {
	content: "\e008";
}
.icond-bat:before {
	content: "\e009";
}
.icond-babycar:before {
	content: "\e00a";
}
.icond-airplane:before {
	content: "\e00b";
}
.icond-world:before {
	content: "\e00c";
}
.icond-webcamera:before {
	content: "\e00d";
}
.icond-ups:before {
	content: "\e00e";
}
.icond-upload:before {
	content: "\e00f";
}
.icond-stream:before {
	content: "\e010";
}
.icond-storage:before {
	content: "\e011";
}
.icond-seal:before {
	content: "\e012";
}
.icond-pin:before {
	content: "\e013";
}
.icond-info:before {
	content: "\e014";
}
.icond-flag:before {
	content: "\e015";
}
.icond-eye:before {
	content: "\e016";
}
.icond-download:before {
	content: "\e017";
}
.icond-speed:before {
	content: "\e018";
}
.icond-settings:before {
	content: "\e019";
}
.icond-metric:before {
	content: "\e01a";
}
.icond-joistick:before {
	content: "\e01b";
}
.icond-hammer:before {
	content: "\e01c";
}
.icond-flash:before {
	content: "\e01d";
}
.icond-electric:before {
	content: "\e01e";
}
.icond-delete:before {
	content: "\e01f";
}
.icond-compass:before {
	content: "\e020";
}
.icond-clock:before {
	content: "\e021";
}
.icond-bookmark:before {
	content: "\e022";
}
.icond-anchor:before {
	content: "\e023";
}
.icond-videocamera:before {
	content: "\e024";
}
.icond-usb:before {
	content: "\e025";
}
.icond-sdmini:before {
	content: "\e026";
}
.icond-ram:before {
	content: "\e027";
}
.icond-photo:before {
	content: "\e028";
}
.icond-phone:before {
	content: "\e029";
}
.icond-mouse:before {
	content: "\e02a";
}
.icond-led:before {
	content: "\e02b";
}
.icond-keyboard:before {
	content: "\e02c";
}
.icond-hardisc:before {
	content: "\e02d";
}
.icond-cpu:before {
	content: "\e02e";
}
.icond-bulb:before {
	content: "\e02f";
}
.icond-youtube:before {
	content: "\e030";
}
.icond-vimeo:before {
	content: "\e031";
}
.icond-twitter:before {
	content: "\e032";
}
.icond-skype:before {
	content: "\e033";
}
.icond-pinterest:before {
	content: "\e034";
}
.icond-linkedin:before {
	content: "\e035";
}
.icond-googleplus:before {
	content: "\e036";
}
.icond-github:before {
	content: "\e037";
}
.icond-facebook:before {
	content: "\e038";
}
.icond-dribbble:before {
	content: "\e039";
}
.icond-blog:before {
	content: "\e03a";
}
.icond-behance:before {
	content: "\e03b";
}
.icond-wrong:before {
	content: "\e03c";
}
.icond-triangle:before {
	content: "\e03d";
}
.icond-stop:before {
	content: "\e03e";
}
.icond-squareroot:before {
	content: "\e03f";
}
.icond-question:before {
	content: "\e040";
}
.icond-plus:before {
	content: "\e041";
}
.icond-minus:before {
	content: "\e042";
}
.icond-male:before {
	content: "\e043";
}
.icond-female:before {
	content: "\e044";
}
.icond-exclamation:before {
	content: "\e045";
}
.icond-cancel:before {
	content: "\e046";
}
.icond-accept:before {
	content: "\e047";
}
.icond-terminal:before {
	content: "\e048";
}
.icond-spam:before {
	content: "\e049";
}
.icond-signal:before {
	content: "\e04a";
}
.icond-shield:before {
	content: "\e04b";
}
.icond-networking:before {
	content: "\e04c";
}
.icond-net:before {
	content: "\e04d";
}
.icond-link:before {
	content: "\e04e";
}
.icond-hierarchical:before {
	content: "\e04f";
}
.icond-domain:before {
	content: "\e050";
}
.icond-database:before {
	content: "\e051";
}
.icond-connections:before {
	content: "\e052";
}
.icond-cable:before {
	content: "\e053";
}
.icond-windmill:before {
	content: "\e054";
}
.icond-wave:before {
	content: "\e055";
}
.icond-tree:before {
	content: "\e056";
}
.icond-table:before {
	content: "\e057";
}
.icond-sunset:before {
	content: "\e058";
}
.icond-sun:before {
	content: "\e059";
}
.icond-snow:before {
	content: "\e05a";
}
.icond-nut:before {
	content: "\e05b";
}
.icond-mushroom:before {
	content: "\e05c";
}
.icond-mountain:before {
	content: "\e05d";
}
.icond-flower:before {
	content: "\e05e";
}
.icond-cactus:before {
	content: "\e05f";
}
.icond-volume:before {
	content: "\e060";
}
.icond-video:before {
	content: "\e061";
}
.icond-tv:before {
	content: "\e062";
}
.icond-note:before {
	content: "\e063";
}
.icond-micro:before {
	content: "\e064";
}
.icond-macbook:before {
	content: "\e065";
}
.icond-lens:before {
	content: "\e066";
}
.icond-ipod:before {
	content: "\e067";
}
.icond-ipad:before {
	content: "\e068";
}
.icond-imac:before {
	content: "\e069";
}
.icond-headphones:before {
	content: "\e06a";
}
.icond-cassette:before {
	content: "\e06b";
}
.icond-whitehouse:before {
	content: "\e06c";
}
.icond-pisa:before {
	content: "\e06d";
}
.icond-obelisk:before {
	content: "\e06e";
}
.icond-liberty:before {
	content: "\e06f";
}
.icond-gherkin:before {
	content: "\e070";
}
.icond-eiffel:before {
	content: "\e071";
}
.icond-disneyland:before {
	content: "\e072";
}
.icond-coliseum:before {
	content: "\e073";
}
.icond-clocktower:before {
	content: "\e074";
}
.icond-christ:before {
	content: "\e075";
}
.icond-bigben:before {
	content: "\e076";
}
.icond-arc:before {
	content: "\e077";
}
.icond-whater:before {
	content: "\e078";
}
.icond-thermometer:before {
	content: "\e079";
}
.icond-teeth:before {
	content: "\e07a";
}
.icond-stomach:before {
	content: "\e07b";
}
.icond-stethoscope:before {
	content: "\e07c";
}
.icond-pill:before {
	content: "\e07d";
}
.icond-medicalbag:before {
	content: "\e07e";
}
.icond-medical:before {
	content: "\e07f";
}
.icond-heart:before {
	content: "\e080";
}
.icond-ecg:before {
	content: "\e081";
}
.icond-drugs:before {
	content: "\e082";
}
.icond-compressed:before {
	content: "\e083";
}
.icond-xbox:before {
	content: "\e084";
}
.icond-wordpress:before {
	content: "\e085";
}
.icond-windows:before {
	content: "\e086";
}
.icond-playstation:before {
	content: "\e087";
}
.icond-linux:before {
	content: "\e088";
}
.icond-internet:before {
	content: "\e089";
}
.icond-html:before {
	content: "\e08a";
}
.icond-flickr:before {
	content: "\e08b";
}
.icond-firefox:before {
	content: "\e08c";
}
.icond-drupal:before {
	content: "\e08d";
}
.icond-apple:before {
	content: "\e08e";
}
.icond-android:before {
	content: "\e08f";
}
.icond-tools:before {
	content: "\e090";
}
.icond-ssl:before {
	content: "\e091";
}
.icond-settings2:before {
	content: "\e092";
}
.icond-servers:before {
	content: "\e093";
}
.icond-promotion:before {
	content: "\e094";
}
.icond-location:before {
	content: "\e095";
}
.icond-email:before {
	content: "\e096";
}
.icond-comment:before {
	content: "\e097";
}
.icond-cloud:before {
	content: "\e098";
}
.icond-church:before {
	content: "\e099";
}
.icond-analytics:before {
	content: "\e09a";
}
.icond-alert:before {
	content: "\e09b";
}
.icond-wine:before {
	content: "\e09c";
}
.icond-pizza:before {
	content: "\e09d";
}
.icond-pear:before {
	content: "\e09e";
}
.icond-orange:before {
	content: "\e09f";
}
.icond-lemon:before {
	content: "\e0a0";
}
.icond-ice:before {
	content: "\e0a1";
}
.icond-hamburguer:before {
	content: "\e0a2";
}
.icond-food:before {
	content: "\e0a3";
}
.icond-drink:before {
	content: "\e0a4";
}
.icond-coffe:before {
	content: "\e0a5";
}
.icond-candy:before {
	content: "\e0a6";
}
.icond-beer:before {
	content: "\e0a7";
}
.icond-wallet:before {
	content: "\e0a8";
}
.icond-undershorts:before {
	content: "\e0a9";
}
.icond-tie:before {
	content: "\e0aa";
}
.icond-step:before {
	content: "\e0ab";
}
.icond-ring:before {
	content: "\e0ac";
}
.icond-hanger:before {
	content: "\e0ad";
}
.icond-glove:before {
	content: "\e0ae";
}
.icond-glasses:before {
	content: "\e0af";
}
.icond-earring:before {
	content: "\e0b0";
}
.icond-diamond:before {
	content: "\e0b1";
}
.icond-clad:before {
	content: "\e0b2";
}
.icond-chefs:before {
	content: "\e0b3";
}
.icond-wacky:before {
	content: "\e0b4";
}
.icond-surprise:before {
	content: "\e0b5";
}
.icond-smile:before {
	content: "\e0b6";
}
.icond-sleep:before {
	content: "\e0b7";
}
.icond-silent:before {
	content: "\e0b8";
}
.icond-pained:before {
	content: "\e0b9";
}
.icond-normal:before {
	content: "\e0ba";
}
.icond-embarrassing:before {
	content: "\e0bb";
}
.icond-cry:before {
	content: "\e0bc";
}
.icond-cool:before {
	content: "\e0bd";
}
.icond-blinking:before {
	content: "\e0be";
}
.icond-angry:before {
	content: "\e0bf";
}
.icond-zoom:before {
	content: "\e0c0";
}
.icond-setsquare:before {
	content: "\e0c1";
}
.icond-set:before {
	content: "\e0c2";
}
.icond-scissors:before {
	content: "\e0c3";
}
.icond-rubber:before {
	content: "\e0c4";
}
.icond-pallet:before {
	content: "\e0c5";
}
.icond-chemistry:before {
	content: "\e0c6";
}
.icond-calculator:before {
	content: "\e0c7";
}
.icond-books:before {
	content: "\e0c8";
}
.icond-book:before {
	content: "\e0c9";
}
.icond-board:before {
	content: "\e0ca";
}
.icond-academichat:before {
	content: "\e0cb";
}
.icond-wifi:before {
	content: "\e0cc";
}
.icond-speed2:before {
	content: "\e0cd";
}
.icond-soundon:before {
	content: "\e0ce";
}
.icond-soundoff:before {
	content: "\e0cf";
}
.icond-rudder:before {
	content: "\e0d0";
}
.icond-on:before {
	content: "\e0d1";
}
.icond-off:before {
	content: "\e0d2";
}
.icond-hourglass:before {
	content: "\e0d3";
}
.icond-equalizer:before {
	content: "\e0d4";
}
.icond-control:before {
	content: "\e0d5";
}
.icond-contrast:before {
	content: "\e0d6";
}
.icond-battery:before {
	content: "\e0d7";
}
.icond-seal2:before {
	content: "\e0d8";
}
.icond-pound:before {
	content: "\e0d9";
}
.icond-key:before {
	content: "\e0da";
}
.icond-euro:before {
	content: "\e0db";
}
.icond-ecommerce:before {
	content: "\e0dc";
}
.icond-eco:before {
	content: "\e0dd";
}
.icond-dollar:before {
	content: "\e0de";
}
.icond-creditcard:before {
	content: "\e0df";
}
.icond-cart:before {
	content: "\e0e0";
}
.icond-basket:before {
	content: "\e0e1";
}
.icond-bag:before {
	content: "\e0e2";
}
.icond-at:before {
	content: "\e0e3";
}
.icond-stop2:before {
	content: "\e0e4";
}
.icond-star:before {
	content: "\e0e5";
}
.icond-reelfilm:before {
	content: "\e0e6";
}
.icond-play:before {
	content: "\e0e7";
}
.icond-pause:before {
	content: "\e0e8";
}
.icond-oscar:before {
	content: "\e0e9";
}
.icond-frontrewind:before {
	content: "\e0ea";
}
.icond-film:before {
	content: "\e0eb";
}
.icond-disc:before {
	content: "\e0ec";
}
.icond-clapperboard:before {
	content: "\e0ed";
}
.icond-camera:before {
	content: "\e0ee";
}
.icond-backrewind:before {
	content: "\e0ef";
}
.icond-target:before {
	content: "\e0f0";
}
.icond-tag:before {
	content: "\e0f1";
}
.icond-pyramid:before {
	content: "\e0f2";
}
.icond-portfolio:before {
	content: "\e0f3";
}
.icond-money:before {
	content: "\e0f4";
}
.icond-man:before {
	content: "\e0f5";
}
.icond-doc:before {
	content: "\e0f6";
}
.icond-clip:before {
	content: "\e0f7";
}
.icond-circlechart:before {
	content: "\e0f8";
}
.icond-chart:before {
	content: "\e0f9";
}
.icond-calendar:before {
	content: "\e0fa";
}
.icond-bulb2:before {
	content: "\e0fb";
}
.icond-windmill2:before {
	content: "\e0fc";
}
.icond-tribe:before {
	content: "\e0fd";
}
.icond-temple:before {
	content: "\e0fe";
}
.icond-store:before {
	content: "\e0ff";
}
.icond-skyscraper:before {
	content: "\e100";
}
.icond-lighthouse:before {
	content: "\e101";
}
.icond-home:before {
	content: "\e102";
}
.icond-factory:before {
	content: "\e103";
}
.icond-church2:before {
	content: "\e104";
}
.icond-castle:before {
	content: "\e105";
}
.icond-buildings:before {
	content: "\e106";
}
.icond-birdhome:before {
	content: "\e107";
}
.icond-star2:before {
	content: "\e108";
}
.icond-role:before {
	content: "\e109";
}
.icond-puzzle:before {
	content: "\e10a";
}
.icond-picture:before {
	content: "\e10b";
}
.icond-pencil:before {
	content: "\e10c";
}
.icond-mask:before {
	content: "\e10d";
}
.icond-folders:before {
	content: "\e10e";
}
.icond-crayon:before {
	content: "\e10f";
}
.icond-compass2:before {
	content: "\e110";
}
.icond-canvas:before {
	content: "\e111";
}
.icond-bucket:before {
	content: "\e112";
}
.icond-brush:before {
	content: "\e113";
}
.icond-up:before {
	content: "\e114";
}
.icond-switch:before {
	content: "\e115";
}
.icond-right:before {
	content: "\e116";
}
.icond-resize:before {
	content: "\e117";
}
.icond-refresh:before {
	content: "\e118";
}
.icond-recycle:before {
	content: "\e119";
}
.icond-merge:before {
	content: "\e11a";
}
.icond-loop:before {
	content: "\e11b";
}
.icond-left:before {
	content: "\e11c";
}
.icond-down:before {
	content: "\e11d";
}
.icond-directional:before {
	content: "\e11e";
}
.icond-cursor:before {
	content: "\e11f";
}
.icond-rabbit:before {
	content: "\e120";
}
.icond-pig:before {
	content: "\e121";
}
.icond-owl:before {
	content: "\e122";
}
.icond-horse:before {
	content: "\e123";
}
.icond-giraffe:before {
	content: "\e124";
}
.icond-frog:before {
	content: "\e125";
}
.icond-fish:before {
	content: "\e126";
}
.icond-duck:before {
	content: "\e127";
}
.icond-dog:before {
	content: "\e128";
}
.icond-cat:before {
	content: "\e129";
}
.icond-bird:before {
	content: "\e12a";
}
.icond-bat2:before {
	content: "\e12b";
}
