<div class="config">
	<section class="row bg-white">
		<div class="col-md-12">
			<h2 class="m-t-0">
				<span data-i18n="config.title"></span>
			</h2>
			<p data-i18n="config.subtitle"></p>
			<hr>
		</div>

		<div class="col-md-12">
			<div class="clip-body">
				<p class="text-left">
					<span>Imagem Logotipo Dimensões: 190x80px</span>
				</p>
				<div class="row">
					<div class="col-md-6">
						<div class="avatar m-b-20 m-t-20">
							<img src="assets/img/cloudy-logo.png" class="img-responsive current">
						</div>
						<button class="btn btn-lg btn-danger btn-block m-b-15 clearlogo">Reset Logo</button>
					</div>

					<div class="col-md-6">
						<input type="file" id="fileElem" accept="image/*" style="display:none">
						<div class="avatar m-b-20  m-t-20 likehref">
							<img src="assets/img/openimg.png" class="img-responsive preview">
						</div>
						<button class="btn btn-lg btn-success btn-block savelogo">Save</button>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="row bg-cristal">
		<div class="col-md-12">

			<p class="text-left"><span>Active ou desactive o suporte ticket?</span></p>

			<div class="row">
				<div class="col-md-6 m-b-20">
					<div class="bootstrap-switch bootstrap-switch-large">
						<input type="checkbox" name="my-checkbox" checked checked data-on-color="success" data-off-color="danger">
					</div>
				</div>

				<div class="col-md-6">
					<button class="btn btn-lg btn-success btn-block savesupport">Save</button>
				</div>
			</div>

		</div>
	</section>
</div>
