<div class="config">

	<section class="bg-white">
		<div class="row">
			<div class="col-md-12">
				<h2 class="m-t-0 m-b-5"><span data-i18n="config.title"></span></h2>
				<p data-i18n="config.subtitle"></p>
			</div>
		</div>
		<hr>

		<p><i class="icon-upgrade_downgrade"></i> <span data-i18n="config.infologo"></span></p>
		<div class="row">
			<div class="col-md-6">
				<div class="avatar m-b-20 m-t-20">
					<img src="assets/img/cloudy-logo.png" class="img-responsive currentlogo">
				</div>
				<button class="btn btn-lg btn-danger btn-block m-b-15 clearlogo" data-i18n="btns.reset"></button>
			</div>

			<div class="col-md-6">
				<input type="file" id="fileElem" accept="image/*" style="display:none">
				<div class="avatar m-b-20  m-t-20 likehref">
					<img src="assets/img/openimg.png" class="img-responsive preview">
				</div>
				<button class="btn btn-lg btn-success btn-block savelogo" data-i18n="btns.save"></button>
			</div>
		</div>
		<hr>
	</section>

	<section class="bg-cristal">
		<p><i class="icon-on"></i> <span data-i18n="config.infosupport"></span></p>
		<div class="row">
			<div class="col-md-6 m-b-15">
				<div class="bootstrap-switch bootstrap-switch-large">
					<input type="checkbox" name="my-checkbox" checked checked data-on-color="success" data-off-color="danger">
				</div>
			</div>

			<div class="col-md-6">
				<button class="btn btn-lg btn-success btn-block savesupport" data-i18n="btns.save"></button>
			</div>
		</div>
	</section>
</div>
