<div class="config">
	<section class="row bg-white">
		<div class="col-md-12">
			<h2 class="m-t-0"><span data-i18n="config.title"></span></h2>
			<p data-i18n="config.subtitle"></p>
			<hr>
		</div>
		<div class="col-md-12">
		    <div class="clip-body">
				<p class="text-left"><span data-i18n="vm.add.name"></span></p>
				<div class="input-group">
					<span class="input-group-addon cloudy"><i class="icon-cloud_servers"></i></span>
					<input type="text" class="form-control cloudy hostname" placeholder="Hostname">
				</div>
		    </div>
	    </div>
	    <div class="col-md-12">
		    <div class="clip-body">
		    </div>
	    </div>
	</section>



  <input type="file" id="fileElem" accept="image/*" style="display:none">
  <div class="avatar m-b-20 likehref"><img src="assets/img/cloudy-logo.png" class="img-responsive changepic"></div>
  <button class="btn btn-lg btn-cloudy btn-block clearlogo">Reset Logo</button>
<div>
