<div class="domain-dns-details">
	<section class="row bg-white">

		<div class="col-md-12">
			<h2 class="m-b-0 m-t-0"><span>Edit DNS</span></h2>
			<p class="">...</p>
			<hr>
		</div>

		<div class="dib m-b-20 table-responsive">
			<div class="col-md-2">
				<dl class="palette palette-gold p-6 tac">
		            <dt>A</dt>
		        </dl>
			</div>

			<div class="col-md-4">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="turb">
			</div>

			<div class="col-md-5">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="183.22.45.77">
			</div>

			<div class="col-md-1">
				<button class="btn btn-xs btn-danger edit-btn overme" data-trigger="hover" data-placement="top" data-original-title="Delete"><i class="icon-remove"></i></button>
			</div>
		</div>

		<div class="dib m-b-20">
			<div class="col-md-2">
				<dl class="palette palette-success p-6 tac">
		            <dt>CNAME</dt>
		        </dl>
			</div>

			<div class="col-md-4">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="*">
			</div>

			<div class="col-md-5">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="ptisp.pt">
			</div>

			<div class="col-md-1">
				<button class="btn btn-xs btn-danger edit-btn overme" data-trigger="hover" data-placement="top" data-original-title="Delete"><i class="icon-remove"></i></button>
			</div>
		</div>

		<div class="dib m-b-20">
			<div class="col-md-2">
				<dl class="palette palette-warning p-6 tac">
		            <dt>NS</dt>
		        </dl>
			</div>

			<div class="col-md-9">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="ns1.ptisp.pt">
			</div>

			<div class="col-md-1">
				<button class="btn btn-xs btn-danger edit-btn overme" data-trigger="hover" data-placement="top" data-original-title="Delete"><i class="icon-remove"></i></button>
			</div>
		</div>

		<div class="dib m-b-20">
			<div class="col-md-2">
				<dl class="palette palette-warning p-6 tac">
		            <dt>NS</dt>
		        </dl>
			</div>

			<div class="col-md-9">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="ns2.ptisp.pt">
			</div>

			<div class="col-md-1">
				<button class="btn btn-xs btn-danger edit-btn overme" data-trigger="hover" data-placement="top" data-original-title="Delete"><i class="icon-remove"></i></button>
			</div>
		</div>

		<div class="dib m-b-20">
			<div class="col-md-2">
				<dl class="palette palette-warning p-6 tac">
		            <dt>NS</dt>
		        </dl>
			</div>

			<div class="col-md-9">
				<input type="text" class="form-control input-sm" id="field-cloudy" placeholder="ns3.ptisp.pt">
			</div>

			<div class="col-md-1">
				<button class="btn btn-xs btn-danger edit-btn overme" data-trigger="hover" data-placement="top" data-original-title="Delete"><i class="icon-remove"></i></button>
			</div>
		</div>
  	</section>

	<section class="row bg-cristal">
		<div class="col-md-12">
			<h2 class="m-b-0 m-t-0"><span>Zone File</span></h2>
			<p class="">...</p>
			<hr>
		</div>

		<div class="col-md-12">
			<div style=" width: 100%; height: 240px; margin-bottom: 20px; background-color: #000"></div>
		</div>
	</section>
<div>
