<div class="header container">
	<div class="row">
		<div class="col-sm-3">
			<div class="profile-usercloudy">
				<img src="http://ptis.pt/avatar-ruben" class="img-responsive"  alt="" />
			</div>
			<!-- END SIDEBAR USERCLOUDY -->
			<!-- SIDEBAR USER TITLE -->
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">
					Rúben Rodrigues
				</div>
				<div class="profile-usertitle-job">
					Web Designer
				</div>
			</div>
			<!-- SIDEBAR BUTTONS -->
			<div class="profile-userbuttons">
				<button type="button" class="btn btn-success btn-xs f-12">Follow</button>
				<button type="button" class="btn btn-danger btn-xs f-12">Message</button>
			</div>
	    </div>
	    <div class="col-sm-3">
	    	Home
	    </div>
	    <div class="col-sm-6">
	    	<button type="button" class="btn btn-block btn-lg btn-cloudy btn-icon">Create new machine<i class="icon-cloud_servers"></i></button>

	    	<div class="navbar-collapse collapse in right" id="bs-example-navbar-collapse-1" style="height: auto;">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle icon-role" data-toggle="dropdown">
							<span>Portfolio</span><b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-default">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>

	    </div>
    </div>
<div>
