<div class="header">

	<div class="container">
		<div class="row">

			<!-- MENU RESPONSIVE -->
			<div class="menu">
				<div class="sidebar-nav responsive">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle default-clip-navbar" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-menu"></span>
							</button>
							<img src="assets/img/cloudy-logo-vertical.png" class="img-responsive m-l-15 m-t-15" />
						</div>
						<div class="navbar-collapse collapse sidebar-navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="likehref gotohome bb-m"><a><i class="icon-cloud_servers f-22 m-r-10 va"></i> <span class="f-16 va" data-i18n="smenu.machines"></span></a></li>
								<li class="likehref gotologs bb-m"><a><i class="icon-document f-22 m-r-10 va"></i> <span class="f-16 va" data-i18n="smenu.logs"></span></a></li>
								<li class="likehref gotosupport bb-m"><a><i class="icon-support f-22 m-r-10 va"></i> <span class="f-16 va" data-i18n="smenu.support"></span> <span class="badge badge-default f-right">-</span></a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<!-- SIDEBAR USER -->
			<div class="col-sm-3">
				<div class="profile-usercloudy">
					<span class="p-relative">
						<img src="http://www.gravatar.com/avatar/bf00250c419f0d09475f70558c373acc" class="dropdown-toggle img-responsive m-r-15 headgravatar" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" />
						<ul class="dropdown-menu dropdown-standard">
							<li>
								<a class="manprofile">
									<i class="icon-user m-r-5"></i>
									<span class="likehref" data-i18n="header.manprofile"></span>
								</a>
							</li>
							<li>
								<a class="logout c-red">
									<i class="icon-on m-r-5"></i>
									<span class="likehref" data-i18n="header.logout"></span>
								</a>
							</li>
						</ul>
					</span>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<%= name %>
						</div>
						<div class="profile-usertitle-job">
							<%= username %>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-2"></div>

			<!-- DROPDOWN PROFILE BUTTON -->
			<div class="col-sm-7">
				<div class="btn-group f-right user-drop m-l-5">
					<button class="btn btn-cloudy-light btn-lg cloudy dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
						<i class="icon-user f-18 "></i>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-standard user-menu">
						<li>
							<a class="manprofile">
								<i class="icon-user m-r-5"></i>
								<span class="likehref" data-i18n="header.manprofile"></span>
							</a>
						</li>
						<li>
							<a class="logout c-red">
								<i class="icon-on m-r-5"></i>
								<span class="likehref" data-i18n="header.logout"></span>
							</a>
						</li>
					</ul>
				</div>

				<div class="btn-group f-right m-l-5 config-drop" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
					<button class="adminonly btn btn-cloudy-light btn-lg cloudy dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
						<i class="icon-unmanaged f-18"></i>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-standard user-menu">
						<li>
							<a class="btn-config">
								<i class="icon-managed m-r-5"></i>
								<span class="likehref" data-i18n="header.setup"></span>
							</a>
						</li>

						<li>
							<a class="manusers adminonly">
								<i class="icon-customers m-r-5"></i>
								<span class="likehref" data-i18n="header.manusers"></span>
							</a>
						</li>
					</ul>
				</div>

				<!-- DROPDOWN CPONFIG BUTTON - RESIZE -->
				<div class="btn-group config-drop-resize" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
					<button type="button" class="btn btn-block btn-xl btn-cloudy btn-icon m-b-10 dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
						<span data-i18n="header.setup"></span> <span>&#x25BC</span><i class="icon-unmanaged"></i>
					</button>

					<ul class="dropdown-menu dropdown-config user-menu">
						<li>
							<a class="btn-config">
								<i class="icon-managed m-r-5"></i>
								<span class="likehref" data-i18n="header.setup"></span>
							</a>
						</li>

						<li>
							<a class="manusers adminonly">
								<i class="icon-customers m-r-5"></i>
								<span class="likehref" data-i18n="header.manusers"></span>
							</a>
						</li>
					</ul>
				</div>

				<button type="button" class="btn btn-xl btn-cloudy btn-icon w-min-250 f-right add-machine newvm">
					<span data-i18n="header.newvm"></span><i class="icon-cloud_servers"></i>
				</button>
			</div>
		</div>

		<!-- ALERTS -->
		<div class="col-sm-12 m-t-20">
			<div class="row">
				<div class="alert alert-success alert-dismissable m-b-0" style="display: none">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-wrong"></i></button>
					<strong>
						<span class="suc-title"></span>
					</strong></br>
					<span class="suc-msg"></span>
				</div>

				<div class="alert alert-danger alert-dismissable m-b-0" style="display: none">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-wrong"></i></button>
					<strong>
						<span class="dng-title"></span>
					</strong></br>
					<span class="dng-msg"></span>
				</div>

				<div class="alert alert-warning alert-dismissable m-b-0" style="display: none">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-wrong"></i></button>
					<strong>
						<span class="wrn-title"></span>
					</strong></br>
					<span class="wrn-msg"></span>
				</div>

				<div class="alert alert-info alert-dismissable m-b-0" style="display: none">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-wrong"></i></button>
					<strong>
						<span class="info-title"></span>
					</strong></br>
					<span class="info-msg"></span>
				</div>
			</div>
		</div>

	</div>
</div>
