<div class="header">

	<div class="container">
		<div class="row">

			<div class="col-sm-3">
				<!-- SIDEBAR USER -->
				<div class="profile-usercloudy">
					<span class="p-relative">
						<img src="http://www.gravatar.com/avatar/bf00250c419f0d09475f70558c373acc" class="dropdown-toggle img-responsive m-r-15 headgravatar" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" />
						<ul class="dropdown-menu dropdown-standard">
							<li><a class="manprofile"><span class="likehref" data-i18n="header.manprofile"></span></a></li>
							<li><a class="manusers"><span class="likehref" data-i18n="header.manusers"></span></a></li>
							<li class="divider"></li>
							<li><a class="logout"><span class="likehref" data-i18n="header.logout"></span></a></li>
						</ul>
					</span>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<%= name %>
						</div>
						<div class="profile-usertitle-job">
							<%= username %>
						</div>
					</div>
				</div>
		    </div>

		    <div class="col-sm-3">

		    </div>



		    <div class="col-sm-6">
		    	<!-- DROPDOWN PROFILE BUTTON -->
				<div class="btn-group f-right user-drop m-l-5">
					<button class="btn btn-cloudy-light btn-lg cloudy ropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
						<i class="icon-user f-18 "></i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-standard user-menu">
						<li><a class="manprofile"><span class="likehref" data-i18n="header.manprofile"></span></a></li>
						<li><a class="manusers"><span class="likehref" data-i18n="header.manusers"></span></a></li>
						<li class="divider"></li>
						<li><a class="logout"><span class="likehref" data-i18n="header.logout"></span></a></li>
					</ul>
		        </div>
		    	<button type="button" class="btn btn-xl btn-cloudy btn-icon w-min-250 f-right add-machine newvm"><span data-i18n="header.newvm"></span><i class="icon-cloud_servers"></i></button>
		    </div>

	    </div>
    </div>

<div>
