<div class="home container">
	<nav class="navbar navbar-invert inv" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed invert-clip-navbar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-database"></span>
			</button>
			<div class="social-content">
	            <button type="button" class="btn btn-sm invert-btn-facebook opa"><i class="icon-facebook"></i></button>
	            <button type="button" class="btn btn-sm invert-btn-twitter opa"><i class="icon-twitter"></i></button>
	            <button type="button" class="btn btn-sm invert-btn-pinterest opa"><i class="icon-pinterest"></i></button>
	        </div>
			<a class="navbar-brand clip-brand" href="#">Navbar</a>
		</div>
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#" class="icon-home"> <span>home</span></a></li>
				<li><a href="#" class="icon-info"> <span>News</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle icon-role" data-toggle="dropdown">
						<span>Portfolio</span><b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-invert">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
<div>
