<div class="login">

	<form class="form-login" action="#">
		<div class="avatar m-b-20">
			<img src="assets/img/cloudy-logo.png" class="img-responsive">
		</div>
		<div class="input-group m-b-10">
			<span class="input-group-addon form-invert"><i class="icon-user"></i></span>
			<input type="text" class="form-control usernameinput" placeholder="Username">
		</div>
		<div class="input-group m-b-10">
			<span class="input-group-addon form-invert"><i class="icon-lock"></i></span>
			<input type="password" class="form-control passwordinput" placeholder="Password">
		</div>
		<div class="input-group m-b-10">
			<span class="input-group-addon form-invert"><i class="icon-flag"></i></span>
			<select id="txt_language" class="form-control">
				<option value="en-US" selected>English</option>
				<option value="es-ES">Español</option>
				<option value="pt-PT">Português</option>
			</select>
		</div>
		<div class="input-group m-b-10">
			<input type="checkbox" id="rememberme"> Remember me
		</div>
		<button class="btn btn-lg btn-cloudy btn-block btnlogin">Login</button>
	</form>

	<form class="form-footer">
		<div class="panel-group joined" id="accordion01">
			<div class="panel panel-invert">
				<div class="panel-heading">
					<h4 class="panel-title ff">
						<a data-toggle="collapse" data-parent="#accordion01" href="#collapseaccordionOne" class="collapsed f-12"><i class="icon-lock"></i> Forgot password?</a>
					</h4>
				</div>
				<div id="collapseaccordionOne" class="panel-collapse collapse" style="height: 0px;">
					<div class="panel-body ff">
						<div class="input-group m-b-10">
							<span class="input-group-addon form-invert"><i class="icon-email_corporate"></i></span>
							<input type="text" class="form-control" id="emailfp" placeholder="Your email address">
						</div>
						<button class="btn btn-lg btn-success btn-block recoverpass" type="submit">Send Request</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
