<div class="manageusers">

  <div class="tab-content p-0">
    <div class="tab-pane fade active in">

      <section class="bg-white border-section">
        <div class="row">
          <div class="col-md-5">
            <h2 class="m-t-0 m-b-5">
              <span data-i18n="manage.list.title"></span>
            </h2>
          </div>
          <div class="col-md-3">
            <div>
              <div class="input-group">
                <select id="ddshow" class="form-control cloudy iptype">
                  <option value="10" data-i18n="dropdown.ten"></option>
                  <option value="25" data-i18n="dropdown.tfive"></option>
                  <option value="50" data-i18n="dropdown.fifty"></option>
                  <option value="100" data-i18n="dropdown.hundred"></option>
                </select>
                <span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <div class="input-group">
                <span class="input-group-addon cloudy"><i class="icon-search"></i></span>
                <input type="search" id="pesquisa" class="form-control cloudy" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-hover clip" id="example">
                <thead>
                  <tr>
                    <th><i class="icon-user"></i>
                      <span data-i18n="manage.list.tblhead1"></span>
                    </th>
                    <th><i class="icon-email_corporate"></i>
                      <span data-i18n="manage.list.tblhead2"></span>
                    </th>
                    <th><i class="icon-user_accept"></i>
                      <span data-i18n="manage.list.tblhead3"></span>
                    </th>
                    <th><i class="icon-sign"></i>
                      <span data-i18n="manage.list.tblhead4"></span>
                    </th>
                    <th><i class="icon-managed"></i>
                      <span data-i18n="manage.list.tblhead5"></span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>


  <div id="modal_confirm_delete" class="modal default in" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title c-white"><i class="icon-delete"></i>
            <span class="fs-07" data-i18n="manage.list.modal.title"></span>
          </h4>
        </div>

        <div class="modal-body">
          <div class="f-16 m-b-15"><span data-i18n="manage.list.modal.wrnname"></span> <strong id="delname"></strong></div>

          <div class="di-b m-r-15"> <i class="icon-email_corporate"></i> <span data-i18n="manage.list.modal.wrnemail"></span> <span id="delemail"></span></div>

          <div class="di-b m-r-15"><i class="icon-star"></i>  <span data-i18n="manage.list.modal.wrntype"></span> <span id="deltype"></span></div>

          <div class="di-b m-r-15"><span class="on-status"></span> <span data-i18n="manage.list.modal.wrnstatus"></span> <span id="delstatus"></span></div>

          <hr>
          <div>
            <div><span data-i18n="manage.list.modal.vmwarning"></span></div>
            <div><span data-i18n="manage.list.modal.vmnumber"> </span><span class="vmnumber"></span></div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-invert" data-dismiss="modal">
            <span data-i18n="btns.cancel"></span>
          </button>
          <button type="button" class="btn btn-lg btn-success btn_contact_detail btn_delete" data-dismiss="modal">
            <span data-i18n="btns.continue"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
