<div class="managemenu">
  <!-- tab light -->
  <div class="row">
    <ul class="nav nav-tabs cloudy bordered managemenu">
      <li class="active">
        <a id="useraccounts" class="likehref" data-toggle="tab">
          <span class="visible-xs"><i class="icon-customers f-16"></i></span>
          <span class="hidden-xs f-16"><i class="icon-customers f-20 m-r-5"></i> <span data-i18n="useracc.tabs.list"></span> </span>
        </a>
      </li>
      <li>
        <a id="createaccount" class="likehref" data-toggle="tab">
          <span class="visible-xs"><i class="icon-user f-18"></i></span>
          <span class="hidden-xs f-16"><i class="icon-user m-r-5"></i> <span data-i18n="useracc.tabs.new"></span> </span>
        </a>
      </li>
    </ul>
  </div>
  <div id="tab-content" style="background-color: #fff;">
  </div>
</div>
