<div class="menu">

	<div class="sidebar-nav vertical">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle default-clip-navbar" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-menu"></span>
				</button>
			  <span class="visible-xs navbar-brand">Sidebar menu</span>
			</div>
			<div class="navbar-collapse collapse sidebar-navbar-collapse">
				<ul class="nav navbar-nav menulateral">
					<li class="active likehref gotohome bb-m"><a><i class="icon-cloud_servers f-22 m-r-10 va"></i> <span class="f-16 va" data-i18n="smenu.machines"></span></a></li>

					<li class="likehref gotologs bb-m"><a><i class="icon-document f-22 m-r-10 va"></i> <span class="f-16 va" data-i18n="smenu.logs"></span></a></li>
					
					<li class="likehref gotosupport bb-m"><a><i class="icon-support f-22 m-r-10 va"></i> <span class="f-16 va" data-i18n="smenu.support"></span> <span class="badge badge-default f-right">-</span></a></li>
				</ul>
			</div>
		</nav>
	</div>

</div>
