<div class="profile-menu">

	<ul class="nav nav-tabs cloudy bordered profilemenu">
		<li>
			<a id="profileuser" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-user f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-user m-r-5"></i><span data-i18n="userprofile.tabs.profile"></span></span>
			</a>
		</li>
		<li>
			<a id="profilesecurity" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-lock f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-lock m-r-5"></i><span data-i18n="userprofile.tabs.security"></span></span>
			</a>
		</li>
	</ul>

	<div id="tab-content" class="tab-content p-0">

	</div>
<div>
