<div class="profile-security">

		<div class="tab-pane fade in" id="security">
			<section class="bg-white">
				<div class="row">
					<div class="col-md-12">
						<h2 class="m-t-0 m-b-5">Alterar password</h2>
						<p>Clique em guardar para alterar a sua password.</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.security.newpass"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-lock"></i></span>
								<input type="password" class="form-control cloudy ippass" placeholder="New Password">
							</div>
					    </div>
				    </div>

					<div class="col-md-6">
					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.security.reppass"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-unlock"></i></span>
								<input type="password" class="form-control cloudy iprepass" placeholder="Repeat Password">
							</div>
					    </div>
					</div>
				</div>
				<button class="btn btn-block btn-lg btn-success update" data-action="pwd"><span data-i18n="btns.save"></span></button>
			</section>

			<section class="bg-cristal">
				<div class="row">
					<div class="col-md-12">
						<h2 class="m-t-0 m-b-5">Adicionar Chave SSH</h2>
						<p>...</p>
						<hr>
					</div>
					<div class="col-md-12 m-b-15">
						<textarea name="TextMessage" rows="5" class="form-control sshkey" required>SSH Key</textarea>
					</div>
				</div>
				<button type="button" class="btn btn-block btn-lg btn-success update" data-action="ssh"><span data-i18n="btns.save"></span></button>
			</section>
		</div>

<div>
