<div class="user-profile">

		<div class="tab-pane fade active in" id="profile">

			<section class="bg-white">
				<div class="row">
					<div class="col-md-12">
						<h2 class="m-t-0 m-b-5">Detalhes de Cliente</h2>
						<p>Para editar os detalhes de cliente por favor utilize as opções abaixo.</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.profile.name"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-user"></i></span>
								<input type="text" class="form-control cloudy pname" placeholder="Name">
							</div>
					    </div>

					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.profile.country"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-flag"></i></span>
								<input type="text" class="form-control cloudy pcountry" placeholder="County">
							</div>
					    </div>
					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.profile.address"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-location_center"></i></span>
								<input type="text" class="form-control cloudy paddress" placeholder="Address">
							</div>
					    </div>
				    </div>

					<div class="col-md-6">
					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.profile.email"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-email_corporate"></i></span>
								<input type="text" class="form-control cloudy pemail" placeholder="Email">
							</div>
					    </div>

					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.profile.nif"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-reference"></i></span>
								<input type="text" class="form-control cloudy pnif" placeholder="NIF">
							</div>
					    </div>
					    <div class="clip-body">
							<p class="text-left"><span data-i18n="userprofile.profile.zip"></span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-location_more"></i></span>
								<input type="text" class="form-control cloudy pzip" placeholder="Zip Code">
							</div>
					    </div>
					</div>
				</div>
				<button type="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-block btn-lg btn-success"><span data-i18n="btns.update"></span></button>
			</section>
		</div>

<div>
