<div class="support">

	<ul class="nav nav-tabs cloudy bordered supportmenu">
		<li class="active">
			<a id="gotoopen" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-on f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-on m-r-5"></i>
					<span data-i18n="support.tab01"></span>
				</span>
			</a>
		</li>
		<li >
			<a id="gotoclosed" class="likehref " data-toggle="tab">
				<span class="visible-xs"><i class="icon-vnc_console f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-vnc_console m-r-5"></i>
					<span data-i18n="support.tab02"></span>
				</span>
			</a>
		</li>
	</ul>

	<div id="tab-content"></div>

</div>
