<div class="support">

	<section class="row bg-white">
		<div class="col-md-12">
			<h2 class="m-t-0"><span class="openticket">Support</span></h2>
			<p class="">O nosso helpdesk ao seu dispor. Abra novos pedidos de suporte.</p>
			<hr>
		</div>


		<h2 class= "col-md-12 m-b-20 c-green">Tickets abertos</h2>

		<div class="col-md-3">
			<div class="clip-body">
				<div class="input-group">
		        <select id="input_country" class="form-control cloudy iptype">
			        <option value="10">show 10</option>
			        <option value="25">show 25</option>
			        <option value="50">show 50</option>
			        <option value="100">show 100</option>
		        </select>
		        <span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
			    </div>
			</div>
	  </div>

		<div class="col-md-9">
			<div class="clip-body">
			  <div class="input-group">
			    <span class="input-group-addon cloudy"><i class="icon-search"></i></span>
			    <input type="search" class="form-control cloudy" placeholder="Search">
			  </div>
			</div>
		</div>

		<div class= "col-md-12">
	    <div class="clip-body">
	      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped clip likehref" id="opentickets">
	        <thead>
	          <tr>
	            <th><span class="icon-star icon16b"></span><span> ID</span></th>
	            <th><span class="icon-align_center icon16b"></span> <span>Assunto</span></th>
	            <th><span class="icon-graph icon16b"></span> <span>Criado</span></th>
	            <th><span class="icon-sign icon16b"></span> <span>Estado</span></th>
	          </tr>
	        </thead>

	        <tbody>
	        </tbody>

	      </table>
	    </div>
		</div>
	</section>


	<section class="row bg-cristal">

		<h2 class= "col-md-12 m-b-20 c-red">Tickets fechados</h2>

		<div class="col-md-3">
			<div class="clip-body">
				<div class="input-group">
			        <select id="input_country" class="form-control iptype">
				        <option value="10">show 10</option>
				        <option value="25">show 25</option>
				        <option value="50">show 50</option>
				        <option value="100">show 100</option>
			        </select>
			        <span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
			    </div>
			</div>
	    </div>

		<div class="col-md-9">
			<div class="clip-body">
			  <div class="input-group">
			    <span class="input-group-addon cloudy"><i class="icon-search"></i></span>
			    <input type="search" class="form-control" placeholder="Search">
			  </div>
			</div>
		</div>

		<div class= "col-md-12">
		    <div class="clip-body">
		      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped clip likehref" id="closedtickets">
		        <thead>
		          <tr>
								<th><span class="icon-star icon16b"></span><span> ID</span></th>
								<th><span class="icon-align_center icon16b"></span> <span>Assunto</span></th>
								<th><span class="icon-graph icon16b"></span> <span>Criado</span></th>
								<th><span class="icon-sign icon16b"></span> <span>Estado</span></th>
		          </tr>
		        </thead>

		        <tbody>
		        </tbody>

		      </table>
		    </div>
		</div>
	</section>

<div>

	<!-- modal default -->
<div id="modal_new_ticket" class="modal default fade in fade" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title c-white"><i class="icon-email_corporate"></i> <span class="fs-07" data-i18n="">Novo Ticket</span></h4>
      </div>

      <div class="modal-body">

        <form class="form-horizontal">
          <fieldset>
            <input type="text" style="display:none" id="input_edit_id">

            <div class="clip-body">
              <p class="text-left"><span data-i18n="">Assunto</span></p>
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-user icon16b"></i></span>
                <input type="text" class="form-control-invert" id="input_subject" placeholder="Ticket subject">
              </div>
            </div>

            <div class="clip-body">
              <div class="control-group align_modal">
                <p class="text-left"><span data-i18n="">Mensagem</span></p>

                <div class="controls">
                  <textarea id="input_content" class="ticketcontent" rows="9" cols="30" style="width:100%;"></textarea>
                </div>
              </div>
            </div>

          </fieldset>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-invert" data-dismiss="modal"><span data-i18n="">Cancelar</span></button>
        <button type="button" class="btn btn-lg btn-success btn_contact_detail btn_send_ticket" data-dismiss="modal"><span data-i18n="">Enviar</span></button>
      </div>
    </div>
  </div>
</div>
