<div class="support">

	<section class="row bg-white">
		<div class="col-md-12">
			<h2 class="m-t-0"><span>Support</span></h2>
			<p class="">O nosso helpdesk ao seu dispor. Abra novos pedidos de suporte.</p>
			<hr>
		</div>
		

		<h2 class= "col-md-12 m-b-20 c-green">Tickets abertos</h2>

		<div class="col-md-3">
			<div class="clip-body">
				<div class="input-group">
			        <select id="input_country" class="form-control cloudy iptype">
				        <option value="10">show 10</option>
				        <option value="25">show 25</option>
				        <option value="50">show 50</option>
				        <option value="100">show 100</option>
			        </select>
			        <span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
			    </div>
			</div>
	    </div>

		<div class="col-md-9">
			<div class="clip-body">
			  <div class="input-group">
			    <span class="input-group-addon cloudy"><i class="icon-search"></i></span>
			    <input type="search" class="form-control cloudy" placeholder="Search">
			  </div>
			</div>
		</div>

		<div class= "col-md-12">
		    <div class="clip-body">
		      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped clip likehref" id="tb_open">
		        <thead>
		          <tr>
		            <th><span class="icon-star icon16b"></span><span> ID</span></th>
		            <th><span class="icon-align_center icon16b"></span> <span>Assunto</span></th>
		            <th><span class="icon-graph icon16b"></span> <span>Estado</span></th>
		            <th><span class="icon-sign icon16b"></span> <span>Última actividade</span></th>
		          </tr>
		        </thead>

		        <tbody>
		        </tbody>

		      </table>
		    </div>
		</div>

		<div class="col-md-6">
			<div class="dataTables_info c-blue-cd">Showing 1 to 10 of 20 entries</div>
		</div>

		<div class="col-md-6">
			<nav class="f-right">
			  	<ul id="pagination_lg" class="pagination-lg pagination-cloudy pagination m-0">
	                <li class="first disabled"><a href="">First</a></li>
	                <li class="prev disabled"><a href=""><div>&lt;</div></a></li>
	                <li class="page active"><a href="">1</a></li>
	                <li class="page"><a href="">2</a></li>
	                <li class="page"><a href="">3</a></li>
	                <li class="page"><a href="">4</a></li>
	                <li class="next"><a href=""><div>&gt;</div></a></li>
	                <li class="last"><a href="">Last</a></li>
	            </ul>
			</nav>
		</div>
	</section>


	<section class="row bg-cristal">

		<h2 class= "col-md-12 m-b-20 c-red">Tickets fechados</h2>

		<div class="col-md-3">
			<div class="clip-body">
				<div class="input-group">
			        <select id="input_country" class="form-control iptype">
				        <option value="10">show 10</option>
				        <option value="25">show 25</option>
				        <option value="50">show 50</option>
				        <option value="100">show 100</option>
			        </select>
			        <span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
			    </div>
			</div>
	    </div>

		<div class="col-md-9">
			<div class="clip-body">
			  <div class="input-group">
			    <span class="input-group-addon cloudy"><i class="icon-search"></i></span>
			    <input type="search" class="form-control" placeholder="Search">
			  </div>
			</div>
		</div>

		<div class= "col-md-12">
		    <div class="clip-body">
		      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped clip likehref" id="tb_open">
		        <thead>
		          <tr>
		            <th><span class="icon-star icon16b"></span><span> ID</span></th>
		            <th><span class="icon-align_center icon16b"></span> <span>Assunto</span></th>
		            <th><span class="icon-graph icon16b"></span> <span>Estado</span></th>
		            <th><span class="icon-sign icon16b"></span> <span>Última actividade</span></th>
		          </tr>
		        </thead>

		        <tbody>
		        </tbody>
		        
		      </table>
		    </div>
		</div>

		<div class="col-md-6">
			<div class="dataTables_info c-blue-cd">Showing 1 to 10 of 20 entries</div>
		</div>

		<div class="col-md-6">
			<nav class="f-right">
			  	<ul id="pagination_lg" class="pagination-lg pagination-cloudy pagination m-0">
	                <li class="first disabled"><a href="">First</a></li>
	                <li class="prev disabled"><a href=""><div>&lt;</div></a></li>
	                <li class="page active"><a href="">1</a></li>
	                <li class="page"><a href="">2</a></li>
	                <li class="page"><a href="">3</a></li>
	                <li class="page"><a href="">4</a></li>
	                <li class="next"><a href=""><div>&gt;</div></a></li>
	                <li class="last"><a href="">Last</a></li>
	            </ul>
			</nav>
		</div>
	</section>

<div>
