<div class="tdetails">

  <section class="row bg-white">


    <div class="row">
      <div class="col-md-12">

        <div class="col-md-6">
          <h2 class="m-b-5 m-t-0"><span data-i18n="support.ticket.header.status"></span> <span class="c-green" id="infostatus"></span></h2>
          <p> <span class="c-gray-dark" data-i18n="support.ticket.header.subject"></span> <span class="c-black" id="infosubject"></span></p>
        </div>

        <div class="col-md-3 f-right">
          <button type="button" class="btn btn-block btn-xl btn-success m-b-10 replyticket">
            <span data-i18n="btns.replyticket"></span>
          </button>
        </div>

        <div class="col-md-3 f-right">
          <button type="button" class="btn btn-block btn-xl btn-danger closeticket">
              <span data-i18n="btns.closeticket"></span>
          </button>
        </div>

      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">

        <div class="col-md-12" style="display:none">
          <div id="info">
            <span data-i18n="support.ticket.header.title"></span><span id="infoid"></span>
            <span data-i18n="support.ticket.header.subject"></span><span id="infosubject"></span></br>
            <span data-i18n="support.ticket.header.status"></span><span id="infostatus"></span></br>
            <span data-i18n="support.ticket.header.replies"></span><span id="infocount"></span></br>
            <span data-i18n="support.ticket.header.created"></span><span id="infocreated"></span></br>
          </div>
        </div>

        <div class="table-responsive col-md-12 ">
          <div id="messages">
            <table class="table table-striped clip" id="example">
              <thead>
                <tr>
                  <th><i class="icon-calendar"></i>
                    <span data-i18n="support.ticket.header.ticketth1"></span>
                  </th>
                  <th><i class="icon-email_corporate"></i>
                    <span data-i18n="support.ticket.header.ticketth2"></span>
                  </th>
                  <th><i class="icon-align_center"></i>
                    <span data-i18n="support.ticket.header.ticketth3"></span>
                  </th>
                </tr>
              </thead>
              <tbody class="messagestable">
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- MODAL DEFAULT -->
  <div id="modal_reply_ticket" class="modal default in" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title c-white"><i class="icon-email_corporate"></i> <span class="fs-07"  data-i18n="support.ticket.modal.rtitle"></span></h4>
        </div>

        <div class="modal-body">

          <form class="form-horizontal">
            <fieldset>
              <input type="text" style="display:none" id="input_edit_id">

              <div class="clip-body">
                <div class="control-group align_modal">
                  <p class="text-left"><span data-i18n="support.ticket.modal.message"></span></p>

                  <div class="controls">
                    <textarea id="input_content" class="ticketcontent" rows="9" cols="30" style="width:100%;"></textarea>
                  </div>
                </div>
              </div>

            </fieldset>
          </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-invert" data-dismiss="modal"><span data-i18n="btns.cancel"></span></button>
          <button type="button" class="btn btn-lg btn-success btn_contact_detail btn_send_ticket" data-dismiss="modal"><span data-i18n="btns.send"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
