<div class="user-account">
  <!-- tab light -->
	<div class="row">
		<ul class="nav nav-tabs cloudy bordered">
			<li class="active">
				<a href="#createaccount" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-user m-r-5"></i> Create Account</span>
				</a>
			</li>
			<li>
				<a href="#useraccounts" data-toggle="tab">
					<span class="visible-xs"><i class="icon-customers f-16"></i></span>
					<span class="hidden-xs f-16"><i class="icon-customers f-20 m-r-5"></i> User Accounts</span>
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade active in" id="createaccount">
				<div class="row">
					<div class="col-md-12">
						<h2 class="m-b-0">Create New Account</h2>
						<p class="">...</p>
					</div>
				</div>

				<hr>
				<div class="row">
					<div class="col-md-6">
					    <div class="clip-body">
							<p class="text-left"><span>Full Name</span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-user"></i></span>
								<input type="text" class="form-control cloudy" value="your name">
							</div>
					    </div>

					    <div class="clip-body">
							<p class="text-left"><span>Country</span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-flag"></i></span>
								<input type="text" class="form-control cloudy" value="your country">
							</div>
					    </div>
					    <div class="clip-body">
							<p class="text-left"><span>Address</span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-location_center"></i></span>
								<input type="text" class="form-control cloudy" value="your adress">
							</div>
					    </div>
				    </div>

					<div class="col-md-6">
					    <div class="clip-body">
							<p class="text-left"><span>Email Adress</span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-email_corporate"></i></span>
								<input type="text" class="form-control cloudy" value="your email adress" title="">
							</div>
					    </div>

					    <div class="clip-body">
							<p class="text-left"><span>VAT</span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-reference"></i></span>
								<input type="text" class="form-control cloudy" value="your vat" title="">
							</div>
					    </div>
					    <div class="clip-body">
							<p class="text-left"><span>Zip code</span></p>
							<div class="input-group">
								<span class="input-group-addon cloudy"><i class="icon-location_more"></i></span>
								<input type="text" class="form-control cloudy" value="your zip code">
							</div>
					    </div>
					</div>
				</div>
				<a href="#cliplink" class="btn btn-block btn-lg btn-success">Save</a>
			</div>

			<div class="tab-pane fade in" id="useraccounts">
				<div class="row">
					<div class="col-md-12">
						<h2 class="m-b-0">User Accounts</h2>
						<p class="">...</p>
					</div>
				</div>

				<hr>
				<div class="table-responsive">
			     	<table class="table table-striped table-hover  clip">
						<thead>
							<tr>
								<th><i class="icon-user"></i> <span>Nome</span></th>
								<th><i class="icon-star"></i> <span>Nºcliente</span></th>
								<th><i class="icon-email_corporate"></i> <span>Email</span></th>
								<th><i class="icon-user_accept"></i> <span>Status</span></th>
								<th><i class="icon-managed"></i> <span>Actions</span></th>
							</tr>
						</thead>
				        <tbody>
							<tr>
								<td>Rúben Rodrigues</td>
								<td>124 434 BT</td>
							    <td>qualquercoisa@tudo.eu</td>
							    <td>Super Admin</td>
							    <td>
							    	<button type="button" class="btn btn-xs btn-success" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Edit
					      			</button>
					      			<button type="button" class="btn btn-xs btn-gold" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Suspend
					      			</button>
					      			<button type="button" class="btn btn-xs btn-danger" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Delete
					      			</button>
					      		</td>
							</tr>
							<tr>
								<td>Pedro Pacheco</td>
								<td>002 234 BT</td>
							    <td>tudo@tudo.eu</td>
							    <td>Admin</td>
							    <td>
							    	<button type="button" class="btn btn-xs btn-success" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Edit
					      			</button>
					      			<button type="button" class="btn btn-xs btn-gold" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Suspend
					      			</button>
					      			<button type="button" class="btn btn-xs btn-danger" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Delete
					      			</button>
					      		</td>
					        </tr>
							<tr>
								<td>Pedro Dias</td>
								<td>000 404 BT</td>
							    <td>assim@tudo.eu</td>
							    <td>Super Admin</td>
							    <td>
							    	<button type="button" class="btn btn-xs btn-success" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Edit
					      			</button>
					      			<button type="button" class="btn btn-xs btn-gold" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Suspend
					      			</button>
					      			<button type="button" class="btn btn-xs btn-danger" rel="popover" data-placement="top" data-trigger="hover" data-content=""
					          			data-original-title="Popover example top">Delete
					      			</button>
					      		</td>
							</tr>
				        </tbody>
				    </table>
			    </div>
			</div>

		</div>	
	</div>
<div>
