<div class="vm-add">
	<section class="row bg-white">
		<div class="col-md-12">
			<h2 class="m-b-0 m-t-0">Create New Virtual Machine</h2>
			<p class="">...</p>
			<hr>
		</div>
		<div class="col-md-12">
		    <div class="clip-body">
				<p class="text-left"><span>Name</span></p>
				<div class="input-group">
					<span class="input-group-addon cloudy"><i class="icon-cloud_servers"></i></span>
					<input type="text" class="form-control cloudy" value="machine name">
				</div>
		    </div>
	    </div>
	    <div class="col-md-12">
		    <div class="clip-body">
				<p class="text-left"><span>Most used configurations</span></p>
				
		    </div>
	    </div>
		<div class="col-md-12">
			<a href="#cliplink" class="btn btn-block btn-lg btn-success">Save</a>
		</div>
	</section>
<div>
