<div class="vm-details">

	<section class="bg-white border-section" id="console">

		<div class="row">
			<div class="col-md-12">
				<h2 class="m-t-0 m-b-5">
					<span data-i18n="vm.edit.console.title"></span>
				</h2>
				<p class="" data-i18n="vm.edit.console.subtitle"></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 p-0 m-t-15">
				<div id="noVNC-control-bar" class="noVNC_status_normal">
					<!--noVNC Mobile Device only Buttons-->

					<div id="noVNC_status"></div>

					<!--noVNC Buttons-->
					<div class="noVNC-buttons-right">
						<input type="image" alt="Ctrl+Alt+Del" src="assets/libs/novnc/images/ctrlaltdel.png" id="sendCtrlAltDelButton" class="noVNC_status_button" title="Send Ctrl-Alt-Del" />
					</div>


					<!-- Popup Status -->
					<div id="noVNC_popup_status" class="">
					</div>

				</div>
				<!-- End of noVNC-control-bar -->


				<div id="noVNC_screen" style="background-color: #00">
					<h1 id="noVNC_logo">Trying to connect...</h1>
					<!-- HTML5 Canvas -->
					<div id="noVNC_container">
						<canvas id="noVNC_canvas" width="0" height="0">
							Canvas not supported.
						</canvas>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 m-b-15">
				<button type="button" class="btn btn-block btn-lg btn-success"><i class="icon-reboot"></i>
					<span data-i18n="btns.restart"></span>
				</button>
			</div>

			<div class="col-md-4">
				<button type="button" class="btn btn-block btn-lg btn-danger"><i class="icon-stop"></i>
					<span data-i18n="btns.hstop"></span>
				</button>
			</div>
		</div>

	</section>
</div>
