<div class="vm-details">
	<!-- tab light -->
	<div class="row">
		<ul class="nav nav-tabs cloudy bordered">
			<li class="active">
				<a href="#power" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-on m-r-5"></i><span>Power</span></span>
				</a>
			</li>
			<li>
				<a href="#console" data-toggle="tab">
					<span class="visible-xs"><i class="icon-lock f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-vnc_console m-r-5"></i><span>Console</span></span>
				</a>
			</li>
			<li>
				<a href="#stats" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-graph m-r-5"></i><span>Stats</span></span>
				</a>
			</li>
			<li>
				<a href="#storage" data-toggle="tab">
					<span class="visible-xs"><i class="icon-lock f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-storage_medium m-r-5"></i><span>Storage</span></span>
				</a>
			</li>
			<li>
				<a href="#settings" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-managed m-r-5"></i><span>Settings</span></span>
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="power">

				<div class="row">
					<div class="col-md-3 stat">
						<div class="pallete-item">
							<dl class="palette palette-default pal">
								<i class="icon-ram_memory f-22 m-r-10"></i>
								<span class="f-16">Memória</span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-blue-cl ramusage">12GB</span>
							</dl>
							<div class="progress animation-sm">
					        	<div class="progress-bar progress-bar-cloudy six-sec-ease-in-out" aria-valuetransitiongoal="20" style="width: 20%;">20</div>
					    	</div>
						</div>
					</div>

					<div class="col-md-3 stat">
						<div class="pallete-item">
							<dl class="palette palette-default pal">
								<i class="icon-cpu f-22 m-r-10"></i>
								<span class="f-16">Processors</span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-blue-cl">2</span>
							</dl>
							<div class="progress animation-sm">
					        	<div class="progress-bar progress-bar-cloudy six-sec-ease-in-out" aria-valuetransitiongoal="45" style="width: 45%;">45</div>
					    	</div>
						</div>
					</div>

					<div class="col-md-3 stat">
						<div class="pallete-item">
							<dl class="palette palette-default pal">
								<i class="icon-hardware f-22 m-r-10"></i>
								<span class="f-16">Storage</span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-blue-cl diskusage">135GB</span>
							</dl>
							<div class="progress animation-sm">
					        	<div class="progress-bar progress-bar-cloudy six-sec-ease-in-out" aria-valuetransitiongoal="10" style="width: 10%;">10</div>
					    	</div>
						</div>
					</div>

					<div class="col-md-3 stat">
						<div class="pallete-item">
							<dl class="palette palette-default pal">
								<i class="icon-cloud_activated f-22 m-r-10"></i>
								<span class="f-16">State</span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-green"><i class="icon-play m-r-10"></i> Running</span>
							</dl>
						</div>
					</div>
			    </div>

				<div id="collapseOne" class="panel-collapse collapse" style="height: auto;">
					<hr>
					<div class="row">
						<div class="col-md-6">
						    <div class="clip-body">
								<p class="text-left"><span data-i18n="userprofile.profile.name"></span></p>
								<div class="input-group">
									<span class="input-group-addon cloudy"><i class="icon-user"></i></span>
									<input type="text" class="form-control cloudy pname" placeholder="Name">
								</div>
						    </div>

						    <div class="clip-body">
								<p class="text-left"><span data-i18n="userprofile.profile.country"></span></p>
								<div class="input-group">
									<span class="input-group-addon cloudy"><i class="icon-flag"></i></span>
									<input type="text" class="form-control cloudy pcountry" placeholder="County">
								</div>
						    </div>
						    <div class="clip-body">
								<p class="text-left"><span data-i18n="userprofile.profile.address"></span></p>
								<div class="input-group">
									<span class="input-group-addon cloudy"><i class="icon-location_center"></i></span>
									<input type="text" class="form-control cloudy paddress" placeholder="Address">
								</div>
						    </div>
					    </div>

						<div class="col-md-6">
						    <div class="clip-body">
								<p class="text-left"><span data-i18n="userprofile.profile.email"></span></p>
								<div class="input-group">
									<span class="input-group-addon cloudy"><i class="icon-email_corporate"></i></span>
									<input type="text" class="form-control cloudy pemail" placeholder="Email">
								</div>
						    </div>

						    <div class="clip-body">
								<p class="text-left"><span data-i18n="userprofile.profile.nif"></span></p>
								<div class="input-group">
									<span class="input-group-addon cloudy"><i class="icon-reference"></i></span>
									<input type="text" class="form-control cloudy pnif" placeholder="NIF">
								</div>
						    </div>
						    <div class="clip-body">
								<p class="text-left"><span data-i18n="userprofile.profile.zip"></span></p>
								<div class="input-group">
									<span class="input-group-addon cloudy"><i class="icon-location_more"></i></span>
									<input type="text" class="form-control cloudy pzip" placeholder="Zip Code">
								</div>
						    </div>
						</div>
					</div>
					<button type="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-block btn-lg btn-success"><span data-i18n="userprofile.profile.btnsave"></span>
					</button>
				</div>
				<hr>

				<div class="row">

					<div class="col-md-3">
						<button type="button"  class="btn btn-block btn-lg btn-success disabled"><i class="icon-play"></i> <span>Start</span></button>
					</div>

					<div class="col-md-3">
						<button type="button"  class="btn btn-block btn-lg btn-warning"><i class="icon-less"></i> <span>Pause</span></button>
					</div>

					<!-- Stop button -->
					<div class="col-md-3">
						<div class="btn-group">
							<button type="button" class="btn btn-lg btn-danger"><i class="icon-stop"></i> <span> Stop</button>
							<button type="button" class="btn btn-lg btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#"><i class="icon-on"></i> Hard Stop</a></li>
							</ul>
						</div>
					</div>

					<!-- Restart button -->
					<div class="col-md-3">
						<div class="btn-group">
							<button type="button" class="btn btn-lg btn-cloudy"><i class="icon-next_step"></i> <span> Restart</button>
							<button type="button" class="btn btn-lg btn-cloudy dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#"><i class="icon-on"></i> Hard Reset</a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>

			<div class="tab-pane fade in" id="console">
				<div class="row">
					<div class="col-md-12">
						<div style=" width: 100%; height: 240px; margin-bottom: 20px; background-color: #000"></div>
					</div>
					<div class="col-md-4">
						<select class="form-control cloudy btn-block">
							<option>Arch Linux</option>
							<option>Ubuntu Server</option>
							<option>Fedora</option>
							<option>FreeBSD</option>
							<option>OpenNebula</option>
							<option>SmartOS</option>
							<option>ReactOS</option>
						</select>
					</div>

					<div class="col-md-4">
						<button type="button"  class="btn btn-block btn-lg btn-danger"><i class="icon-stop"></i> <span>Hard Reset</span></button>
					</div>

					<div class="col-md-4">
						<button type="button"  class="btn btn-block btn-lg btn-warning"><i class="icon-on"></i> <span>Reboot</span></button>
					</div>
				</div>
			</div>

			<div class="tab-pane fade in" id="stats">
				<div class="row">
					<div class="col-md-6 m-b-30">
						<p class="text-left">CPU Usage</p>
						<img src="assets/img/stats/machine-cpu.png" class="img-responsive">
					</div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">Network traffic</p>
						<img src="assets/img/stats/machine-network.png" class="img-responsive">
					</div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">Network traffic</p>
						<img src="assets/img/stats/machine-network.png" class="img-responsive">
					</div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">CPU Usage</p>
						<img src="assets/img/stats/machine-cpu.png" class="img-responsive">
					</div>
				</div>
			</div>

			<div class="tab-pane fade in" id="storage">
				<div class="row">
					<div class="col-md-6">

					</div>
				</div>
			</div>

			<div class="tab-pane fade in" id="settings">
				<div class="row">
					<div class="col-md-6">

					</div>
				</div>
			</div>
		</div>

	</div>
<div>
