<div class="vm-details">

	<ul class="nav nav-tabs cloudy bordered topmenudetails">
		<li class="active">
			<a id="gotosummary" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-on f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-cloud_infrastructure m-r-5"></i>
					<span data-i18n="vm.edit.tab.power"></span>
				</span>
			</a>
		</li>
		<li>
			<a id="gotoconsole" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-vnc_console f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-vnc_console m-r-5"></i>
					<span data-i18n="vm.edit.tab.console"></span>
				</span>
			</a>
		</li>
		<li>
			<a id="gotographs" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-graph f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-graph m-r-5"></i>
					<span data-i18n="vm.edit.tab.stats"></span>
				</span>
			</a>
		</li>
		<li>
			<a id="gotoresize" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-managed f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-managed m-r-5"></i>
					<span data-i18n="vm.edit.tab.resources"></span>
				</span>
			</a>
		</li>
		<!-- ADMIN ONLY -->
		<li class="menuadmin">
			<a id="gotooptions" class="likehref" data-toggle="tab">
				<span class="visible-xs"><i class="icon-unmanaged f-18"></i></span>
				<span class="hidden-xs f-16"><i class="icon-unmanaged m-r-5"></i>
					<span data-i18n="vm.edit.tab.settings"></span>
				</span>
			</a>
		</li>
	</ul>

	<div id="tab-content"></div>

</div>
