<div class="vm-details">
	<!-- tab light -->
	<div class="row">
		<ul class="nav nav-tabs cloudy bordered">
			<li class="active">
				<a href="#power" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-on m-r-5"></i><span data-i18n="vm.edit.tab.power"></span></span>
				</a>
			</li>
			<li>
				<a href="#console" data-toggle="tab">
					<span class="visible-xs"><i class="icon-lock f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-vnc_console m-r-5"></i><span data-i18n="vm.edit.tab.console"></span></span>
				</a>
			</li>
			<li>
				<a href="#stats" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-graph m-r-5"></i><span data-i18n="vm.edit.tab.stats"></span></span>
				</a>
			</li>
			<li>
				<a href="#storage" data-toggle="tab">
					<span class="visible-xs"><i class="icon-lock f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-storage_medium m-r-5"></i><span data-i18n="vm.edit.tab.storage"></span></span>
				</a>
			</li>
			<li>
				<a href="#settings" data-toggle="tab">
					<span class="visible-xs"><i class="icon-user f-18"></i></span>
					<span class="hidden-xs f-16"><i class="icon-managed m-r-5"></i><span data-i18n="vm.edit.tab.setting"></span></span>
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="power">

				<div class="row">

					<div class="col-md-12">
			            <h2 class="m-b-0"><span data-i18n="vm.edit.power.title"></span></h2>
			            <p class=""  data-i18n="vm.edit.power.subtitle"></p>
			            <hr>
			        </div>
					<div class="col-md-3 stat">
						<div class="pallete-item m-b-0">
							<dl class="palette palette-default pal">
								<i class="icon-ram_memory f-22 m-r-10"></i>
								<span class="f-16" data-i18n="vm.edit.power.memory"></span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-blue-cl ramusage"></span>
							</dl>
							<div class="progress animation-sm">
					        	<div class="progress-bar progress-bar-cloudy six-sec-ease-in-out" aria-valuetransitiongoal="20" style="width: 20%;">20</div>
					    	</div>
						</div>
					</div>

					<div class="col-md-3 stat">
						<div class="pallete-ite mm-b-0">
							<dl class="palette palette-default pal">
								<i class="icon-cpu f-22 m-r-10"></i>
								<span class="f-16"  data-i18n="vm.edit.power.cpu"></span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-blue-cl cpu"></span>
							</dl>
							<div class="progress animation-sm">
					        	<div class="progress-bar progress-bar-cloudy six-sec-ease-in-out" aria-valuetransitiongoal="45" style="width: 45%;">45</div>
					    	</div>
						</div>
					</div>

					<div class="col-md-3 stat">
						<div class="pallete-item m-b-0">
							<dl class="palette palette-default pal">
								<i class="icon-hardware f-22 m-r-10"></i>
								<span class="f-16" data-i18n="vm.edit.power.storage"></span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-blue-cl diskusage"></span>
							</dl>
							<div class="progress animation-sm">
					        	<div class="progress-bar progress-bar-cloudy six-sec-ease-in-out" aria-valuetransitiongoal="10" style="width: 10%;">10</div>
					    	</div>
						</div>
					</div>

					<div class="col-md-3 stat">
						<div class="pallete-item m-b-0">
							<dl class="palette palette-default pal">
								<i class="icon-cloud_activated f-22 m-r-10"></i>
								<span class="f-16" data-i18n="vm.edit.power.state"></span>
							</dl>
							<dl class="palette palette-default-hover pal">
								<span class="f-22 c-green state"></span>
							</dl>
						</div>
					</div>
					<hr>
			    </div>

				<hr>

				<div class="row">

					<div class="col-md-3 m-b-15">
						<button type="button"  class="btn btn-block btn-lg btn-success disabled"><i class="icon-play"></i> <span data-i18n="btns.start"></span></button>
					</div>

					<div class="col-md-3 m-b-15">
						<button type="button"  class="btn btn-block btn-lg btn-warning"><i class="icon-less"></i> <span data-i18n="btns.pause"></span></button>
					</div>

					<!-- Stop button -->
					<div class="col-md-3 m-b-15">
						<div class="btn-group">
							<button type="button" class="btn btn-lg btn-danger"><i class="icon-stop"></i> <span data-i18n="btns.stop"></span></button>
							<button type="button" class="btn btn-lg btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a class="likehref"><i class="icon-on"></i> <span data-i18n="btns.hstop"></span></a></li>
							</ul>
						</div>
					</div>

					<!-- Restart button -->
					<div class="col-md-3">
						<div class="btn-group">
							<button type="button" class="btn btn-lg btn-cloudy"><i class="icon-next_step"></i> <span data-i18n="btns.restart"></span> </button>
							<button type="button" class="btn btn-lg btn-cloudy dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a class="likehref"><i class="icon-on"></i> <span data-i18n="btns.hrestart"></span></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<div class="tab-pane fade in" id="console">

				<div class="row">
					<div class="col-md-12">
			            <h2 class="m-b-0"><span data-i18n="vm.edit.console.title"></span></h2>
			            <p class="" data-i18n="vm.edit.console.subtitle"></p>
			            <hr>
			        </div>
					<div class="col-md-12">
						<div style=" width: 100%; height: 240px; margin-bottom: 20px; background-color: #000"></div>
					</div>
					<div class="col-md-4 m-b-15">
						<select class="form-control cloudy btn-block">
							<option>Arch Linux</option>
							<option>Ubuntu Server</option>
							<option>Fedora</option>
							<option>FreeBSD</option>
							<option>OpenNebula</option>
							<option>SmartOS</option>
							<option>ReactOS</option>
						</select>
					</div>

					<div class="col-md-4 m-b-15">
						<button type="button"  class="btn btn-block btn-lg btn-danger"><i class="icon-stop"></i> <span data-i18n="btns.restart"></span></button>
					</div>

					<div class="col-md-4">
						<button type="button"  class="btn btn-block btn-lg btn-warning"><i class="icon-on"></i> <span data-i18n="btns.hrestart"></span></button>
					</div>
				</div>
			</div>

			<div class="tab-pane fade in" id="stats">
				<div class="row">
					<div class="col-md-12">
			            <h2 class="m-b-0"><span data-i18n="vm.edit.stats.title"></span></h2>
			            <p class="" data-i18n="vm.edit.stats.subtitle"></p>
			            <hr>
			        </div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">CPU Usage</p>
						<img src="assets/img/stats/machine-cpu.png" class="img-responsive">
					</div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">Network traffic</p>
						<img src="assets/img/stats/machine-network.png" class="img-responsive">
					</div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">Network traffic</p>
						<img src="assets/img/stats/machine-network.png" class="img-responsive">
					</div>
					<div class="col-md-6 m-b-30">
						<p class="text-left">CPU Usage</p>
						<img src="assets/img/stats/machine-cpu.png" class="img-responsive">
					</div>
				</div>
			</div>

			<div class="tab-pane fade in" id="storage">
				<div class="row">
					<div class="col-md-12">
			            <h2 class="m-b-0"><span data-i18n="vm.edit.storage.title"></span></h2>
			            <p class="" data-i18n="vm.edit.storage.subtitle"></p>
			            <hr>
			        </div>

					<div class="col-md-12">
						<div class="table-responsive">
				          <table class="table table-striped table-hover  clip">
				            <thead>
				              <tr>
				                <th>
				                	<i class="icon-cloud"></i>
				                  	<span>Disk Name</span>
				                </th>
				                <th>
				                	<i class="icon-hardware"></i>
				                  	<span>Type</span>
				                </th>
				                <th>
				                	<i class="icon-storage_base"></i>
				                	<span>Size</span>
				                </th>
				                <th>
				                	<i class="icon-managed"></i>
				                 	<span>Options</span>
				                </th>
				              </tr>
				            </thead>
				            <tbody>
				            	<tr>
				            		<td>Powerto</td>
				            		<td>SSD</td>
				            		<td>45GB</td>
				            		<td>
				            			<button type="button" class="btn btn-xs btn-success" ><i class="icon-managed"></i> Edit</button>
				            			<button type="button" class="btn btn-xs btn-danger"><i class="icon-delete"></i> Delete</button>
				            		</td>
				            	</tr>
				            </tbody>
				          </table>
				        </div>
					</div>

					<div class="col-md-4 m-b-15">
						<select class="form-control cloudy btn-block">
							<option>SSD</option>
							<option>HDD</option>
						</select>
					</div>

					<div class="col-md-4 m-b-15">
						<select class="form-control cloudy btn-block">
							<option>20GB</option>
							<option>45GB</option>
							<option>90GB</option>
							<option>180GB</option>
							<option>300GB</option>
						</select>
					</div>

					<div class="col-md-4">
						<button type="button" class="btn btn-block btn-lg btn-success disabled" ><i class="icon-accept"></i> Create</button>
					</div>
				</div>
			</div>

			<div class="tab-pane fade in" id="settings">
				<div class="row">
					<div class="col-md-12">
			            <h2 class="m-b-0"><span data-i18n="vm.edit.setting.title"></span></h2>
			            <p class="" data-i18n="vm.edit.setting.subtitle">...</p>
			            <hr>
			        </div>
					<div class="col-md-6">

					</div>
				</div>
			</div>
		</div>

	</div>
<div>
