<div class="vm-details">

	<section class="bg-white tab-pane fade active in" id="stats">
		<div class="row">
			<div class="col-md-12">
				<h2 class="m-t-0 m-b-5"><span data-i18n="vm.edit.stats.title"></span></h2>
				<p class="" data-i18n="vm.edit.stats.subtitle"></p>
				<hr>
			</div>
			<div class="col-md-12 m-b-30">
				<p class="text-left">CPU Usage</p>
				<img class="miniloading" src="../assets/img/miniloading.gif">
				<div id="placeHolder1" class="placeholder"></div>
			</div>
			<div class="col-md-12 m-b-30">
				<p class="text-left">Memory</p>
				<img class="miniloading" src="../assets/img/miniloading.gif">
				<div id="placeHolder2" class="placeholder"></div>
			</div>
			<div class="col-md-12 m-b-30">
				<p class="text-left">Network traffic</p>
				<img class="miniloading" src="../assets/img/miniloading.gif">
				<div id="placeHolder3" class="placeholder"></div>
			</div>
		</div>
	</section>

</div>
