<div class="vm-options">

	<section class="bg-white">
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="m-t-0 m-b-5"><span data-i18n="">Opções</span></h2>
				<p class="">...</p>
			</div>
		</div>
		<hr>
		
		<p>Escolha o novo Owner da VM</p>
		<div class="row">
			<div class="col-md-6 newowner m-b-15">
				<div class="input-group">
					<select id="users" class="form-control cloudy">

					</select>
					<span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
				</div>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-lg btn-block btn-success btn_contact_detail btn_change f-right">
					<span data-i18n="">Continuar</span>
				</button>
			</div>
		</div>

	</section>
</div>
