<div class="vm-options">
	<div class="tab-pane fade active in">

		<div class="row">

			<div class="col-md-12">
				<div class="col-md-10">
					<h2 class="m-b-5">
						<span data-i18n="">Opções </span>
					</h2>
					<p class="infohostanme"></p>
				</div>

			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-md-3">
				<div class="clip-body">
					<div>
						<span>Alterar Owner da VM</span>
					</div>
					<button type="button" class="btn btn-lg btn-success btn_contact_detail btn_show">
						<span data-i18n="">Aleterar</span>
					</button>
				</div>
			</div>
		</div>
		<hr>
		<div class="row newowner">
			<div class="col-md-3">
				<div class="clip-body">
					<span>Escolha o novo Owner da VM
					</span>
					<div class="input-group">

						<select id="users" class="form-control cloudy">

						</select>
						<span class="input-group-addon cloudy"><i class="icon-align_center"></i></span>
					</div>
					<button type="button" class="btn btn-lg btn-success btn_contact_detail btn_change">
						<span data-i18n="">Continuar</span>
					</button>
				</div>
			</div>
		</div>

	</div>
</div>
