<div class="vm-resize">

	<section class="bg-white border-section">

		<div class="row">
			<div class="col-md-12">
				<h2 class="m-t-0 m-b-5"><span data-i18n="vm.edit.tab.resources"></span></h2>
				<p class="" data-i18n="vm.edit.resources.subtitle">...</p>
				<hr>
				<div id="showwarning" class="alert alert-warning alert-dismissable" style="display: none">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-wrong"></i></button>
					<strong>
						<span data-i18n="vm.edit.resources.wrntitle"></span>
					</strong>
					</br>
					<span data-i18n="vm.edit.resources.wrnsubtitle"></span>
				</div>
			</div>


			<div class="col-md-12">
				<div class="row">
					<div class="clip-body">

						<div class="col-md-6">
							<div class="clip-body">
								<p class="text-left">CPU</p>
								<div class="range range-cloudy">
									<span class="btn btn-sm btn-cloudy slidercontrol" onclick="sliderCPU.stepDown();rangeDanger.value=sliderCPU.value"><i class="icon-less"></i></span>
									<input id="sliderCPU" class="bg-cream" type="range" name="range" min="1" max="100" value="1" oninput="rangeDanger.value=value">
									<output id="rangeDanger">1</output>
									<span class="btn btn-sm btn-cloudy slidercontrol" onclick="sliderCPU.stepUp();rangeDanger.value=sliderCPU.value"><i class="icon-add"></i></span>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="clip-body">
								<p class="text-left">RAM GB</p>
								<div class="range range-cloudy">
									<span class="btn btn-sm btn-cloudy slidercontrol" onclick="sliderRAM.stepDown();rangeInfo.value=sliderRAM.value/2"><i class="icon-less"></i></span>
									<input id="sliderRAM" class="bg-cream" type="range" name="range" min="1" max="100" value="1" oninput="rangeInfo.value=value/2">
									<output id="rangeInfo">0.5</output>
									<span class="btn btn-sm btn-cloudy slidercontrol" onclick="sliderRAM.stepUp();rangeInfo.value=sliderRAM.value/2"><i class="icon-add"></i></span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<button id="resizevm" class="btn btn-block btn-lg btn-success">
							<span data-i18n="btns.update"></span> <i class="icon-refresh"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-cristal border-section">
		<h2 class="m-t-0 m-b-5"><span data-i18n="vm.edit.resources.inttitle">Interfaces de Rede</span></h2>
		<p class="" data-i18n="vm.edit.resources.intsubtitle">...</p>
		<hr>
		<div id="interfaces" class="row m-b-15"></div>


		<div class="row">
			<div class="col-md-12">
				<button id="addinterface" class="btn btn-block btn-lg btn-success">
					<span data-i18n="btns.add"></span> <i class="icon-add"></i>
				</button>
			</div>
		</div>
	</section>

</div>
