<div class="vm-details">

	<section class="bg-white border-section">
		<div class="row">
			<div class="col-md-12">
				<h2 class="m-t-0 m-b-5">
					<span data-i18n="vm.edit.tab.setting"></span>
				</h2>
				<p class="" data-i18n="vm.edit.setting.subtitle">...</p>
				<hr>
				<div id="showwarning" class="alert alert-warning alert-dismissable" style="display: none">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-wrong"></i></button>
					<strong>
						<span>Atenção</span>
					</strong>
					</br>
					<span>Tem de parar a sua VM antes de modificar os recursos.</span>
					<br>
					<span>Se deseja parar a VM
						<span id="shutdown" class="likehref"><u>carregue aqui</u></span>
					</span>
				</div>
			</div>


			<div class="col-md-12">
				<p class="text-left">
					<span>Recursos</span>
				</p>
				<div class="row">
					<div class="clip-body">

						<div class="col-md-6">
							<div class="clip-body">
								<p class="text-left">CPU</p>
								<div class="range range-cloudy">
									<input id="sliderCPU" class="bg-cream" type="range" name="range" min="1" max="16" value="1" onchange="rangeDanger.value=value">
									<output id="rangeDanger">1</output>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="clip-body">
								<p class="text-left">RAM GB</p>
								<div class="range range-cloudy">
									<input id="sliderRAM" class="bg-cream" type="range" name="range" min="1" max="32" value="1" onchange="rangeInfo.value=value/2">
									<output id="rangeInfo">0.5</output>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<button id="resizevm" class="btn btn-block btn-lg btn-success">
								<span data-i18n="btns.update"></span> <i class="icon-refresh"></i></button>
						</div>

					</div>
				</div>
			</div>
		</div>

	</section>
</div>
