/* CLOUDY CSS */
/* GLOBAL */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e3e4e5;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
























