/* CLOUDY CSS */
/* GLOBAL */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f1f1f5;
  font-family: 'Lato', sans-serif, Helvetica, Arial;
}
/* FONT SIZE */
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-26 {
  font-size: 26px;
}
.f-28 {
  font-size: 28px;
}
.f-30 {
  font-size: 30px;
}
.f-32 {
  font-size: 32px;
}
.f-34 {
  font-size: 34px;
}
.f-36 {
  font-size: 36px;
}
.f-38 {
  font-size: 38px;
}
.f-40 {
  font-size: 40px;
}
.f-42 {
  font-size: 42px;
}
/* BACKGROUND COLOR */
.bg-white {
  background-color: #fff !important;
  color: #111111 !important;
}
.bg-cream {
  background-color: #cbcbc3 !important;
  color: #111111 !important;
}
.bg-gray-dark {
  background-color: #8a959b !important;
  color: #fff !important;
}
.bg-blue-cl {
  background-color: #29b5c7 !important;
  color: #fff !important;
}
.bg-blue-cd {
  background-color: #008798!important;
  color: #fff !important;
}
.bg-yellow {
  background-color: #FBC70E !important;
  color: #FFF !important;
}
.bg-gold {
  background-color: #dbb025 !important;
  color: #FFF !important;
}
.bg-red {
  background-color: #C75757 !important;
  color: #FFF !important;
}
.bg-green {
  background-color: #65b245 !important;
  color: #FFF !important;
}
.bg-dark {
  background-color: #414142 !important;
  color: #FFF !important;
}
.bg-black {
  background-color: #212122 !important;
  color: #FFF !important;
}
/* FULL WIDTH Background Color LIGHT */
.bg-gray {
  background-color: #bccbd3 !important;
  color: #111111 !important;
}
.bg-gray-light {
  background-color: #e3e4e5 !important;
  color: #111111 !important;
}
.bg-green-light {
  background-color: #eff7e9 !important;
  color: #111 !important;
}
.bg-yellow-light {
  background-color: #f6f5eb !important;
  color: #111 !important;
}
.bg-red-light {
  background-color: #f8efee !important;
  color: #111 !important;
}
.bg-blue-light {
  background-color: #e9f6fa !important;
  color: #111 !important;
}
.bg-orange-light {
  background-color: #ffebc7 !important;
  color: #111 !important;
}
.bg-cream-light {
  background-color: #f2f5f8 !important;
  color: #111 !important;
}
/* TEXT COlOR */
.c-blue-cl {
  color: #29b5c7 !important;
}
.c-blue-cd {
  color: #008798 !important;
}
.c-white {
  color: #fff !important;
}
.c-gray {
  color: #bccbd3 !important;
}
.c-gray-light {
  color: #e3e4e5 !important;
}
.c-gray-dark {
  color: #8a959b !important;
}
.c-blue-light {
  color: #60c2e8 !important;
}
.c-blue {
  color: #19a7d8 !important;
}
.c-blue-dark {
  color: #0d5677 !important;
}
.c-yellow {
  color: #FBC70E !important;
}
.c-gold {
  color: #dbb025 !important;
}
.c-red {
  color: #C75757 !important;
}
.c-green {
  color: #65b245 !important;
}
.c-dark {
  color: #414142 !important;
}
.c-black {
  color: #212122 !important;
}
/* FLOAT */
.f-right {
  float: right !important;
}
.f-left {
  float: left !important;
}
/* WIDTH MIN & MAX*/
.w-min-50 {
  min-width: 50px !important;
}
.w-min-100 {
  min-width: 100px !important;
}
.w-min-150 {
  min-width: 150px !important;
}
.w-min-200 {
  min-width: 200px !important;
}
.w-min-250 {
  min-width: 250px !important;
}
.w-min-300 {
  min-width: 300px !important;
}
.w-max-50 {
  max-width: 50px !important;
}
.w-max-100 {
  max-width: 100px !important;
}
.w-max-150 {
  max-width: 150px !important;
}
.w-max-200 {
  max-width: 200px !important;
}
.w-max-250 {
  max-width: 250px !important;
}
.w-max-300 {
  max-width: 300px !important;
}
/* BTN CLOUDY */
.btn-lg.btn-cloudy.btn-icon {
  position: relative;
  padding-right: 39px;
  border: 0;
}
.btn-lg.btn-cloudy.btn-icon i {
  background-color: #008798;
  padding: 12px 13px;
  font-size: 14px;
}
.btn-sm.btn-cloudy.btn-icon {
  position: relative;
  padding-right: 39px;
  border: 0;
}
.btn-sm.btn-cloudy.btn-icon i {
  background-color: #29b5c7;
  padding: 7px 12px;
  font-size: 14px;
}
.btn-xs.btn-cloudy.btn-icon {
  position: relative;
  padding-right: 39px;
  border: 0;
}
.btn-xs.btn-cloudy.btn-icon i {
  background-color: #29b5c7;
  padding: 3px 14px;
  font-size: 14px;
}
.btn-xl.btn-cloudy.btn-icon {
  position: relative;
  padding-right: 39px;
  border: 0;
}
.btn-xl.btn-cloudy.btn-icon i {
  background-color: #008798;
  padding: 15px 15px;
  font-size: 18px;
}
.btn-xl, .btn-group-xl > .btn {
  padding: 15px 0px;
  line-height: 1.33;
  border-radius: 0px;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 13.5px 8px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
}
.btn-cloudy-light {
  color: #fff;
  border: none;
  border-radius: 1px;
  background-color: #29b5c7;
}
.btn-cloudy-light:hover {
  color: #fff ;
  border: none ;
  background-color: #008798;
}
.btn-cloudy-dark {
  color: #fff;
  border: none;
  border-radius: 1px;
  background-color: #008798;
}
.btn-cloudy-dark:hover {
  color: #fff ;
  border: none ;
  background-color: #29b5c7;
}
/* MAKE SIDE BAR NAV VERTICAL/RESPONSIVE */ 
/*  992px */
@media(max-width: 992px) {
  .f-18 {font-size: 16px;}
  .stat {float: left; width: 50%;}
}
@media(min-width: 992px) {
  .sidebar-nav.responsive {display: none;}
  .sidebar-nav.vertical {display: block}
  .f-18 {font-size: 16px;}
}
/*  768px */
@media (max-width: 768px) {
  body {padding-top: 0px;padding-bottom: 0px;}
  .sidebar-nav.responsive {padding-left: 0px;padding-right: 0px;}
  .footer .container {padding-left: 0px;padding-right: 0px;}
  .sidebar-nav.vertical {display: none;}
  .profile-usercloudy {text-align: center; margin-bottom: 20px;}
  .table-responsive {border: none;}
  .profile-userbuttons {margin-bottom: 20px; width: 100%; display: inline-block;}
}
@media (min-width: 768px) {
  .sidebar-nav.responsive {display: none;}
  .sidebar-nav .navbar ul {float: none;}
  .sidebar-nav .navbar ul:not {display: block;}
  .sidebar-nav .navbar li {float: none; display: block;}
  .sidebar-nav .navbar li a {padding-top: 15px; padding-bottom: 15px;}
}

/* LOGIN */
.form-login {
  max-width: 350px;
  padding: 20px 40px 40px 40px;
  margin: 0 auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #e3e4e5;
  border-top: solid 12px #29b5c7;
}
.form-footer{
  max-width: 350px;
  margin: 0 auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.form-header{
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
.avatar {
  width: 200px;
  padding: 10px;
  margin: 0 auto;
}
.ff {
  padding: 15px 40px !important;
}
.btn-cloudy {
  color: #fff;
  border: none;
  border-radius: 1px;
  background-color: #29b5c7;
}
.btn-cloudy:hover {
  color: #fff;
  border: none;
  border-radius: 1px;
  background-color: #008798;
}
.panel-group.joined>.panel>.panel-heading h4 a:before {
  content: '\e685';
  display: inline-block;
  font-family: 'hosticons';
  color: rgba(115, 120, 129, 0.7);
  padding: 10px 15px;
  padding: 0;
  float: right;
  font-size: 14px;
  margin-left: 13px;
  top: 0;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* NAV BAR COLLAPSE */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #29b5c7;
  color: #fff;
}
a {
  color: #008798;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #29b5c7;
}
/* TABLES */
table.table.clip {
  background-color: #fff;
  border-spacing: 5px 0px;
  padding: 8px 0px;
  border-collapse: separate;
}
table.table.clip > thead > tr > th {
  padding: 15px;
}
table.table.clip > tbody> tr > td {
  padding: 15px;
  font-family: 'lato';
  border-top: 1px solid #e3e4e5;
}
table.table.clip > tbody> tr > td:last-child {
  padding: 15px;
  font-size: 16px;
  font-family: 'lato';
  font-weight: 700;
}
table.table.clip th {
  text-transform: uppercase;
  font-family: 'lato';
  font-size: 13px;
  font-weight: 700;
}
.table > thead:first-child > tr:first-child > th{
  font-size: 14px;
  color: #29b5c7;
  font-weight: 700;
}
/* HEADER */
.header {
  margin-bottom: 0px;
  margin-bottom: 30px;
}
/* FOOTER */
.f-inside {
  width: 100%;
  display: inline-block;
  color: #212122;
  background: #FFF;
  padding: 20px 15px 20px 15px;
}
/* PROFILE USER */
.profile-usercloudy img {
  width: 20%;
  display: inline-block;
  background-color: #29b5c7;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usertitle {
  display: inline-block;
  vertical-align: middle;
}
.profile-usertitle-name {
  color: #111;
  font-size: 14px;
}
.profile-usertitle-job {
  text-transform: uppercase;
  color: #29b5c7;
  font-size: 12px;
}
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}
.pallete-item {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}





















